<main>
  <section id="catagories" class="container-fluid pt-5 pb-3">
    <h1 class="text-center my-lg-4 mb-3 my-3">Solar Brings Smile</h1>
    <div class="row my-5">

 
      <div class="col-lg-3 col-md-3 col-3 col-xl-3 col-xxl-3" >
        <div class="card xvxvxfvfs" id="grid">
          <img class="img-fluid mx-auto mt-4 afcsdfcds"  src="assets/images/path31836.png" 
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center mt-4"><span>SOLAR</span> ENERGY</h4>
            <p class="card-text ">Solar energy is abundant and renewable, providing a sustainable source of electricity while reducing greenhouse gas emissions and lowering energy bills for individuals and communities.</p>
          </div>
        </div>


      </div>
      <div class="col-lg-3 col-md-3 col-3 col-3 col-sm-3 col-xl-3 col-xxl-3">
        <div class="card xvxvxfvfs" id="grid">
          <img class=" img-fluid mx-auto mt-4 afcsdfcds" src="assets/images/Vector_76x108.png" 
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center mt-4">ECO<span> FRIENDLY</span></h4>
            <p class="card-text">Solar energy is eco friendly as it produces no harmful emissions, reducing air and water pollution while helping combat climate change. Additionally, it conserves natural resources and promotes a cleaner, healthier environment for current and future generations.</p>

          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-3 col-3 col-xl-3 col-xxl-3">
        <div class="card xvxvxfvfs" id="grid">
          <img class=" mx-auto img-fluid mt-4 afcsdfcds" src="assets/images/Mask_group_76x108.png" 
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center mt-4"> ELECTRI<span> CITY</span></h4>
            <p class="card-text ">Switching to solar power results in significant electricity savings over time, reducing or even eliminating monthly utility bills. This financial relief benefits individuals and households, allowing them to allocate their money towards other essential needs or investments.</p>

          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-3 col-xl-3 col-xxl-3">
        <div class="card xvxvxfvfs" id="grid">
          <img class="img-fluid mx-auto mt-4 afcsdfcds" src="assets/images/wind_eolic_energy_turbine_electricity_blades_1_76x108.png" 
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center mt-4"><span>TURBO</span>  CHARGE</h4>
            <p class="card-text">The option of a solar power turbo charge system enhances energy production during peak demand or adverse weather conditions, ensuring a more reliable and consistent power supply for people. This added resilience can prevent disruptions and provide peace of mind, especially in regions with unreliable grid infrastructure.</p>
          </div>
        </div>
      </div> 


    </div>




  </section>
</main>