<main>
    <div class="container">
      
        <h1 class="">Products Categories</h1>

        <div class="row  mt-5 mb-5">
             
            <div class="col-lg-4 col-md-4 col-6 col-xl-4 col-xxl-4 padd mb-4">
                <div class=" " id="leftfoot">
                    <h3 class="text-center" style="color: white;">SOLAR POWER PLANT </h3>
     
                 </div>
                <img src="assets/images/Rectangle 45.png" alt="Image 1" class="img-fluid">
            </div>

            <div class="col-lg-4 col-md-4 col-6 col-xl-4 col-xxl-4 mb-4">
                <div class=" " id="leftfoot">
                    <h3 class="text-center" style="color: white;">SOLAR WATER HEATER  </h3>
     
                 </div>
                <img src="assets/images/Rectangle 38.png" alt="Image 1" class="img-fluid">
            </div>

            <div class="col-lg-4 col-md-4 col-6 col-xl-4 col-xxl-4  mb-4">
                <div class=" " id="leftfoot">
                    <h3 class="text-center" style="color: white;">BATTERY ENERGY SYSTEM</h3>
     
                 </div>
                <img src="assets/images/Rectangle 53.png" alt="Image 1" class="img-fluid">
            </div>

            <div class="col-lg-4 col-md-4 col-6 col-xl-4 col-xxl-4  mb-4">
                <div class=" " id="leftfoot">
                    <h3 class="text-center" style="color: white;">SOLAR LED LIGHTING</h3>
     
                 </div>
                <img src="assets/images/Rectangle 39.png" alt="Image 1" class="img-fluid">
            </div>

            <div class="col-lg-4 col-md-4 col-6 col-xl-4 col-xxl-4  mb-4">
                <div class=" " id="leftfoot">
                    <h3 class="text-center" style="color: white;">SOLAR WATER PUMPING</h3>
     
                 </div>
                <img src="assets/images/Rectangle 47.png" alt="Image 1" class="img-fluid">
            </div>

            <div class="col-lg-4 col-md-4 col-6 col-xl-4 col-xxl-4  mb-4">
                <div class=" " id="leftfoot">
                    <h3 class="text-center" style="color: white;">HYBRID INVERTER</h3>
     
                 </div>
                <img src="assets/images/Rectangle 51.png" alt="Image 1" class="img-fluid">
            </div>

        </div>

    </div>
</main>






<!-- 
 <main>
    <div class="container">
      
        <h1 class="">Products Categories</h1>

        <div class="row  mt-5 mb-5">
             
            <div class=" col-sm-6 mb-4">
                <div class=" " id="leftfoot">
                    <h3 class="text-center" style="color: white;">SOLAR POWER PLANT </h3>
     
                 </div>
                <img src="assets/images/Rectangle 45.png" alt="Image 1" class="img-fluid">
            </div>

            <div class=" col-sm-6 mb-4">
                <div class=" " id="leftfoot">
                    <h3 class="text-center" style="color: white;">SOLAR WATER HEATER  </h3>
     
                 </div>
                <img src="assets/images/Rectangle 38.png" alt="Image 1" class="img-fluid">
            </div>

            <div class=" mb-4">
                <div class=" " id="leftfoot">
                    <h3 class="text-center" style="color: white;">BATTERY ENERGY SYSTEM</h3>
     
                 </div>
                <img src="assets/images/Rectangle 53.png" alt="Image 1" class="img-fluid">
            </div>


                <div class=" mb-4">
                    <div class=" " id="leftfoot">
                        <h3 class="text-center" style="color: white;">SOLAR LED LIGHTING</h3>
         
                     </div>
                    <img src="assets/images/Rectangle 39.png" alt="Image 1" class="img-fluid">
                </div>
    
                <div class=" mb-4">
                    <div class=" " id="leftfoot">
                        <h3 class="text-center" style="color: white;">SOLAR WATER PUMPING</h3>
         
                     </div>
                    <img src="assets/images/Rectangle 47.png" alt="Image 1" class="img-fluid">
                </div>
    
                <div class="  mb-4">
                    <div class=" " id="leftfoot">
                        <h3 class="text-center" style="color: white;">HYBRID INVERTER</h3>
         
                     </div>
                    <img src="assets/images/Rectangle 51.png" alt="Image 1" class="img-fluid">
                </div>

        
           

        </div>

    </div>
</main>
 -->
