<main>
  <div class="container-fluid">
    <div class="row mar">

      <div class="col-lg-6 col-xl-6 col-xxl-6 col-md-6 col-sm-12 ">
        <h1 id="top-text1" style="text-align: center;" *ngIf="displayh1"><span>HYBRID SOLAR</span> INVERTER</h1>

        <img src="assets/images/Frame2.png" class="img-fluid iamge1" alt="">
      </div>
      <div  class="col-lg-6 col-xl-6 col-xxl-6 col-md-6 col-sm-12 head">

    

    <h1 id="top-text" *ngIf="!displayh1"><span>HYBRID SOLAR</span> INVERTER</h1>
        <div class="mt-5" id="border">
          <div class="mb-3" id="marginleft">
            <svg width="18" height="18" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6.49 9.01482L4.95 10.4756L9.9 15.1709L20.9 4.73686L19.36 3.27609L9.9 12.2494L6.49 9.01482ZM19.8 10.9973C19.8 15.5883 15.84 19.3445 11 19.3445C6.16 19.3445 2.2 15.5883 2.2 10.9973C2.2 6.40631 6.16 2.65004 11 2.65004C11.88 2.65004 12.65 2.75439 13.42 2.96307L15.18 1.29362C13.86 0.876254 12.43 0.563232 11 0.563232C4.95 0.563232 0 5.25856 0 10.9973C0 16.736 4.95 21.4314 11 21.4314C17.05 21.4314 22 16.736 22 10.9973H19.8Z"
                fill="white" />
            </svg>
            Hybrid systems combine both the features of an on grid
            And off grid solar power system.
          </div>


          <div class="mb-3" id="marginleft">
            <svg width="18" height="18" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6.49 9.01482L4.95 10.4756L9.9 15.1709L20.9 4.73686L19.36 3.27609L9.9 12.2494L6.49 9.01482ZM19.8 10.9973C19.8 15.5883 15.84 19.3445 11 19.3445C6.16 19.3445 2.2 15.5883 2.2 10.9973C2.2 6.40631 6.16 2.65004 11 2.65004C11.88 2.65004 12.65 2.75439 13.42 2.96307L15.18 1.29362C13.86 0.876254 12.43 0.563232 11 0.563232C4.95 0.563232 0 5.25856 0 10.9973C0 16.736 4.95 21.4314 11 21.4314C17.05 21.4314 22 16.736 22 10.9973H19.8Z"
                fill="white" />
            </svg>
            Here the solar power is utilized for the utility consumption and also for charging battery storage system.
          </div>


          <div class="mb-3" id="marginleft">
            <svg width="18" height="18" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6.49 9.01482L4.95 10.4756L9.9 15.1709L20.9 4.73686L19.36 3.27609L9.9 12.2494L6.49 9.01482ZM19.8 10.9973C19.8 15.5883 15.84 19.3445 11 19.3445C6.16 19.3445 2.2 15.5883 2.2 10.9973C2.2 6.40631 6.16 2.65004 11 2.65004C11.88 2.65004 12.65 2.75439 13.42 2.96307L15.18 1.29362C13.86 0.876254 12.43 0.563232 11 0.563232C4.95 0.563232 0 5.25856 0 10.9973C0 16.736 4.95 21.4314 11 21.4314C17.05 21.4314 22 16.736 22 10.9973H19.8Z"
                fill="white" />
            </svg>
            Therefore the battery storage system can be utilized for night time or blockout time.
          </div>


          <div class="mb-3" id="marginleft">
            <svg width="18" height="18" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6.49 9.01482L4.95 10.4756L9.9 15.1709L20.9 4.73686L19.36 3.27609L9.9 12.2494L6.49 9.01482ZM19.8 10.9973C19.8 15.5883 15.84 19.3445 11 19.3445C6.16 19.3445 2.2 15.5883 2.2 10.9973C2.2 6.40631 6.16 2.65004 11 2.65004C11.88 2.65004 12.65 2.75439 13.42 2.96307L15.18 1.29362C13.86 0.876254 12.43 0.563232 11 0.563232C4.95 0.563232 0 5.25856 0 10.9973C0 16.736 4.95 21.4314 11 21.4314C17.05 21.4314 22 16.736 22 10.9973H19.8Z"
                fill="white" />
            </svg>
            In hybrid inverters, setting are given to rank prefernce of electric power supply I.E., solar battery grid
            common preset.
          </div>


          <div class="mb-3" id="marginleft">
            <svg width="18" height="18" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6.49 9.01482L4.95 10.4756L9.9 15.1709L20.9 4.73686L19.36 3.27609L9.9 12.2494L6.49 9.01482ZM19.8 10.9973C19.8 15.5883 15.84 19.3445 11 19.3445C6.16 19.3445 2.2 15.5883 2.2 10.9973C2.2 6.40631 6.16 2.65004 11 2.65004C11.88 2.65004 12.65 2.75439 13.42 2.96307L15.18 1.29362C13.86 0.876254 12.43 0.563232 11 0.563232C4.95 0.563232 0 5.25856 0 10.9973C0 16.736 4.95 21.4314 11 21.4314C17.05 21.4314 22 16.736 22 10.9973H19.8Z"
                fill="white" />
            </svg>
            In hybrid inverters, setting are given to rank prefernce of electric power supply I.E., solar battery grid
            common preset.
          </div>


         <p id="button"> <button id="marginleft">Call now</button> </p>

        </div>
      </div>
    </div>

    <div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xxl-12 my-5 ">
        <h1 class="text-center mb-4"><span>LARGE SCALE GRID </span> TIED POWER PLANT</h1>

        <img src="assets/images/Rectangle 61.png" class="img-fluid mt-3 mb-5" alt="">

        <div id="leftline">

          <p class="content">
            The Photovoltaic (PV) Grid Tied system consists of mainly of 3 components: The Crystalline Silicon PV array,
            Module Mounting
            Structure and the Power conditioning Unit (PCU).
          </p>

          <p class="content ">
            Crystalline silicon Modules are of high Power density will convert Sun Light in to Electricity. The power
            generated by the Solar array
            needs to be „conditioned‟ in respect of voltage, phase and frequency to make it grid – Tied. The Power
            Conditioning Unit used in grid
            connected SPV systems consist of an Inverter and other electronics for MPPT, Synchronization and remote
            monitoring.
            The Module mounting structure is used to hold the module in position.
          </p>

          <p class="content">
            The electrical power generated by the PV array is fed into the grid. When the output of PV systems varies
            due to weather conditions
            seasonal changes the balance between supply and demand of power at the load end is met by drawing it from
            the grid. When the
            load is below the solar generation, excess power can be feed to the grid line.
          </p>

          <p class="content">
            The advantage of the system is whenever solar or grid is not present the system will automatically shuts
            down helps in maintenance
            work of the line. To install this type of system special permission from Utility supplier is needed.
          </p>


        </div>
      </div>
    </div>



    <div class="row mt-5 ">

      <h1 class="mt-5 mb-3 text-center" id="h1text">GENERAL SPECIFICATION OF <span>LARGE SCALE GRID TIED SOLAR
          SYSTEM</span></h1>

      <div class="col-lg-6 col-md-12 col-xl-6 col-xxl-6 col-sm-12  imghide">
        <img src="assets/images/Frame3.png" class="img-fluid imghide" alt="">
      </div>

      <div class="col-lg-6 col-md-12 col-xl-6 col-xxl-6 col-sm-12 mpmp">

        <div class="card">
          <div class="card-body">
            <h3 class="text-center mt-4">TYPE OF POWER PLANT : GRID TIED </h3>
            <h3 class="text-center">WITHOUT BATTERY BANK </h3>

            <div class="row mt-4">
                    
              <p class="col-lg-6 col-md-6 col-xl-6 col-xxl-6  col-sm-6 col-6 colors">
                PV Module Capacity
              </p>
              <p class="col-lg-6 col-md-6 col-xl-6 col-xxl-6 col-sm-6 col-6 colors">
                : 400+ to 500+ Wp RATED
              </p>

              <p class="col-lg-6 col-md-6 col-xl-6 col-xxl-6 col-sm-6 col-6 colors">
                Space Required 
              </p>
              <p class="col-lg-6 col-md-6 col-xl-6 col-xxl-6 col-sm-6 col-6  colors">
                : Appx. 4 Acrs/MW
              </p>

              <p class="col-lg-6 col-md-6 col-xl-6 col-xxl-6 col-sm-6 col-6  colors">
                Weight of the SPV 
              </p>
              <p class="col-lg-6 col-md-6 col-xl-6 col-xxl-6 col-sm-6 col-6  colors">
                : Appx. 40 Kg/ Sq Mtrs 
              </p>

              <p class="col-lg-6 col-md-6 col-xl-6 col-xxl-6 col-sm-6 col-6 colors">
                Generation per Day  
              </p>
              <p class="col-lg-6 col-md-6 col-xl-6 col-xxl-6 col-sm-6 col-6 colors">
                : 5000 – 5500 Units / MW
              </p>

              <p class="col-lg-6 col-md-6 col-xl-6 col-xxl-6 col-sm-6 col-6 colors">
                PCU Capacities
              </p>
              <p class="col-lg-6 col-md-6 col-xl-6 col-xxl-6 col-sm-6 col-6 colors">
                : IN THE ORDER OF MW 
              </p>

              <p class="col-lg-6 col-md-6 col-xl-6 col-xxl-6 col-sm-6 col-6 colors">
                Cable Entry 
              </p>
              <p class="col-lg-6 col-md-6 col-xl-6 col-xxl-6 col-sm-6 col-6 colors">
                : Either sides  
              </p>
              
              

              <!-- <p>
                <span class="colors">PV Module Capacity</span><span class="colors" id="left">: 400+ to 500+
                  Wp RATED</span>
              </p>
              <p >
                <span class="colors">Space Required</span><span class="colors" id="left">: Appx. 4 Acrs/MW</span>
              </p>
              <p >
                <span  class="colors">PV Module Capacity</span><span class="colors" id="left">: 400+ to 500+
                  Wp RATED</span>
              </p>
              <p >
                <span  class="colors">PV Module Capacity</span><span class="colors" id="left">: 400+ to 500+
                  Wp RATED</span>
              </p>
              <p >
                <span  class="colors">PV Module Capacity</span><span class="colors" id="left">: 400+ to 500+
                  Wp RATED</span>
              </p>
              <p >
                <span class="colors">PV Module Capacity</span><span class="colors" id="left">: 400+ to 500+
                  Wp RATED</span>
              </p> -->

              <!-- <p style="text-indent: 20px;" class="colors">
                PV Module Capacity  <span style="margin-left: 17px;" class="colors"> : 400+ to 500+ Wp RATED</span>
              </p>

              <p style="text-indent: 20px;" class="colors">
                Space Required         <span style="margin-left: 56px;" class="colors"> : Appx. 4 Acrs/MW</span>
              </p>

              <p style="text-indent: 20px;" class="colors">
                Weight of the SPV<span style="margin-left: 33px;" class="colors"> : Appx. 40 Kg/ Sq Mtrs </span>
              </p>

              <p style="text-indent: 20px;" class="colors">
                Generation per Day   <span style="margin-left: 24px;" class="colors">  : 5000 – 5500 Units / MW </span>
              </p>

              
              <p style="text-indent: 20px;" class="colors">
                PCU Capacities   <span style="margin-left: 62px;" class="colors">    : IN THE ORDER OF MW </span>
              </p>

              
              <p style="text-indent: 20px;" class="colors">
                Cable Entry     <span style="margin-left: 90px;" class="colors">    : IN THE ORDER OF MW </span>
              </p> -->
            </div>

          </div>
        </div>

      </div>
    </div>



  </div>



</main>


